<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movie system</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <style>
    body {
      padding-left: 70px;
      padding-right: 70px;
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home page</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-12 content text-center">
        <a href="/movie/add-form" class="btn btn-success">Add movie</a>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Poster</th>
              <th scope="col">Title</th>
              <th scope="col">Genre</th>
              <th scope="col">Release year</th>
              <th scope="col">Director</th>
              <th scope="col">Rank</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < movies.length; i++) { %>
            <tr>
              <td>
                <img src="<%= movies[i].posterUrl %>" height="200px">
              </td>
              <td><%= movies[i].title %></td>
              <td><%= movies[i].genre %></td>
              <td><%= movies[i].release_year %></td>
              <td><%= movies[i].director %></td>
              <td><%= movies[i].rank %></td>
              <td>
                <a class="btn btn-primary btn-sm" href="movie/info/<%= i %>">Info</a>
                <a class="btn btn-success btn-sm" href="/movie/edit-form/<%= i %>">Edit</a>
                <a class="btn btn-danger btn-sm" href="movie/delete/<%= i %>" onclick="return confirm('Do you want delete this movie?');">Delete</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>

    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Mikołaj Otręba</small>
      </div>
    </footer>
  </div>
</body>

</html>