<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movie system</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.2/css/bootstrap-theme.min.css">

  <style>
    body {
      padding-left: 70px;
      padding-right: 70px;
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h2><%= movie.title %></label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <img src="<%= movie.posterUrl %>" height="400px">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <label><%= summary %></label>
      </div>
    </div>
    <br>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Genre</th>
            <th scope="col">Release year</th>
            <th scope="col">Director</th>
            <th scope="col">Rank</th>
            <th scope="col">Actors</th>
            <th scope="col">Production countries</th>
            <th scope="col">Awards</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= movie.genre %></th>
            <td><%= movie.release_year %></td>
            <td><%= movie.director %></td>
            <td><%= movie.rank %></td>
            <td>
              <ul class="list-group"></ul>
              <% for(let i=0; i < actors.length; i++) { %>
              <li class="list-group-item"><%= actors[i] %></li>
              <% } %>
              </ul>
            </td>
            <td>
              <ul class="list-group"></ul>
              <% for(let i=0; i < productionCountries.length; i++) { %>
              <li class="list-group-item"><%= productionCountries[i] %></li>
              <% } %>
              </ul>
            </td>
            <td>
              <ul class="list-group"></ul>
              <% for(let i=0; i < awards.length; i++) { %>
              <li class="list-group-item"><%= awards[i].score %>: <%= awards[i].value %></li>
              <% } %>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</body>

</html>